body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}
.containe {
    width: 90%;
    margin: 0 auto;
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    margin-right: 1px; /* Adjust spacing between logo and text */
}

.brand-namegro {
    font-size: 3.1em; /* Adjust the size to match your logo */
    font-weight: bold;
    color: #5b7e2f;
}
.brand-namemart {
    font-size: 3em; /* Adjust the size to match your logo */
    font-weight: bold;
    color: #fff;
}
header {
    background: #92b9e4;
    color: #fff;
    padding: 1em 0;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.auth-buttons {
    display: flex;
    text-align: right;
}


.cta-button {
    background: #28a745;
    color: #fff;
    padding: 0.75em 1.5em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    
}

.hero {
    background: url('background.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 11em 0;
    text-align: left;
    position: relative;
    z-index: 1;
}

.hero h2 {
    margin: 0;
    font-size: 3em;
    line-height: 1.2;
}

.hero p {
    font-size: 1.5em;
    margin: 1em 0;
}

.features {
    padding: 2em 0;
    background: #f9f9f9;
    text-align: center;
}

.features .feature {
    margin-bottom: 2em;
}

.features h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.about, .auth, .contact {
    padding: 2em 0;
    text-align: center;
}

.auth form {
    max-width: 600px;
    margin: 0 auto;
}

.auth label {
    display: block;
    margin-top: 1em;
    font-weight: bold;
}

.auth input, .auth textarea {
    width: 100%;
    padding: 0.75em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth button {
    margin-top: 1em;
    padding: 0.75em 2em;
    border: none;
    border-radius: 5px;
    background: #28a745;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
